[
  {
    "ParameterKey": "CloudConfig",
    "ParameterValue": "{{.CloudConfig}}"
  },
  {
    "ParameterKey": "InstanceType",
	  "ParameterValue": "{{.InstanceType}}"
  },
  {
    "ParameterKey": "KeyPair",
    "ParameterValue": "{{.KeyPair}}"
  },
  {
    "ParameterKey": "ClusterSize",
    "ParameterValue": "{{.ClusterSize}}"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "{{.VpcId}}"
  },
  {
    "ParameterKey": "ElbSubnet",
    "ParameterValue": "{{.Subnet}}"
  },
  {
    "ParameterKey": "MachineSubnet",
    "ParameterValue": "{{.Subnet}}"
  },
  {
    "ParameterKey": "AZ",
    "ParameterValue": "{{.AZ}}"
  },
  {
    "ParameterKey": "AmiId",
    "ParameterValue": "{{.AmiId}}"
  }
]
