{
  "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Giant Swarm on EC2",
    "Parameters": {
      "AmiId": {
        "Type": "String",
        "Description": "AmiId of a CoreOS image for the specified instance type and region"
      },
      "VpcId": {
        "Type": "String",
        "Description": "VpcId of your existing Virtual Private Cloud (VPC)"
      },
      "ElbSubnet": {
        "Type": "CommaDelimitedList",
        "Description": "The SubnetId in your Virtual Private Cloud (VPC) for the ELB"
      },
      "MachineSubnet": {
        "Type": "String",
        "Description": "The SubnetId in your Virtual Private Cloud (VPC) for the machines"
      },
      "ClusterSize": {
        "Default": "3",
        "Description": "Number of nodes in cluster (1-3).",
        "MaxValue": "3",
        "MinValue": "3",
        "Type": "Number"
      },
      "AZ": {
        "Type": "String",
        "Description": "The AvailabilityZone for your Virtual Private Cloud (VPC)"
      },
      "AllowSSHFrom": {
        "Default": "0.0.0.0/0",
        "Description": "The net block (CIDR) that SSH is available to.",
        "Type": "String"
      },
      "InstanceType": {
          "AllowedValues": [
              "t2.nano",
              "t2.micro",
              "t2.small",
              "t2.medium",
              "t2.large",
              "m4.large",
              "m4.xlarge",
              "m4.2xlarge",
              "m4.4xlarge",
              "m4.10xlarge",
              "m3.medium",
              "m3.large",
              "m3.xlarge",
              "m3.2xlarge",
              "c4.large",
              "c4.xlarge",
              "c4.2xlarge",
              "c4.4xlarge",
              "c4.8xlarge",
              "c3.large",
              "c3.xlarge",
              "c3.2xlarge",
              "c3.4xlarge",
              "c3.8xlarge",
              "g2.2xlarge",
              "g2.8xlarge",
              "r3.large",
              "r3.xlarge",
              "r3.2xlarge",
              "r3.4xlarge",
              "r3.8xlarge",
              "i2.xlarge",
              "i2.2xlarge",
              "i2.4xlarge",
              "i2.8xlarge",
              "d2.xlarge",
              "d2.2xlarge",
              "d2.4xlarge",
              "d2.8xlarge"
          ],
        "ConstraintDescription": "Must be a valid EC2 HVM instance type.",
        "Default": "t2.medium",
        "Description": "EC2 instance type (t2.medium, etc).",
        "Type": "String"
      },
      "KeyPair": {
        "Description": "The name of an EC2 Key Pair to allow SSH access to the instance.",
        "Type": "String"
      },
      "CloudConfig": {
        "Description": "Registry cloud-config configuration (base64)",
        "Type": "String"
      }
    },
    "Resources": {
      "PrivateELBSecurityGroup": {
        "Type": "AWS::EC2::SecurityGroup",
        "Properties": {
          "GroupDescription": "Private ELB SecurityGroup",
          "VpcId": { "Ref": "VpcId" },
          "SecurityGroupIngress": [
          {
            "IpProtocol": "tcp",
            "FromPort": "80",
            "ToPort": "80",
            "CidrIp": "0.0.0.0/0"
          }],
          "SecurityGroupEgress": []
        }
      },
      "InstanceSecurityGroup": {
        "Type": "AWS::EC2::SecurityGroup",
        "Properties": {
          "GroupDescription": "Enable cluster communication",
          "VpcId": { "Ref": "VpcId" },
          "SecurityGroupIngress": [
            {
              "CidrIp": { "Ref": "AllowSSHFrom" },
              "FromPort": "22",
              "IpProtocol": "tcp",
              "ToPort": "22"
          },
          {
              "CidrIp": "{{ .VPCCIDR }}",
              "FromPort": "2379",
              "ToPort": "2379",
              "IpProtocol": "tcp"
          },
          {
              "CidrIp": "{{ .VPCCIDR }}",
              "FromPort": "2380",
              "ToPort": "2380",
              "IpProtocol": "tcp"
          }
          ]
        }
      },
      "Ingress2379": {
        "Type": "AWS::EC2::SecurityGroupIngress",
        "Properties": {
          "GroupId": {"Ref": "InstanceSecurityGroup"},
          "IpProtocol": "tcp",
          "FromPort": "2379",
          "ToPort": "2379",
          "SourceSecurityGroupId": {
            "Ref": "InstanceSecurityGroup"
          }
        }
      },
      "Ingress2380": {
        "Type": "AWS::EC2::SecurityGroupIngress",
        "Properties": {
          "GroupId": {"Ref": "InstanceSecurityGroup"},
          "IpProtocol": "tcp",
          "FromPort": "2380",
          "ToPort": "2380",
          "SourceSecurityGroupId": {
            "Ref": "InstanceSecurityGroup"
          }
        }
      },
      "IngressSSH": {
        "Type": "AWS::EC2::SecurityGroupIngress",
        "Properties": {
          "GroupId": {"Ref": "InstanceSecurityGroup"},
          "IpProtocol": "tcp",
          "FromPort": "22",
          "ToPort": "22",
          "SourceSecurityGroupId": {
            "Ref": "InstanceSecurityGroup"
          }
        }
      },
      "ElasticLoadBalancerPrivate" : {
        "Type" : "AWS::ElasticLoadBalancing::LoadBalancer",
        "Properties" : {
          "Subnets": { "Ref": "ElbSubnet" },
          "Scheme": "internal",
          "SecurityGroups": [
            { "Ref": "PrivateELBSecurityGroup" }
          ],
          "Listeners" : [{
            "LoadBalancerPort" : "2379",
            "InstancePort" : "2379",
            "Protocol" : "TCP"
          },
          {
            "LoadBalancerPort" : "2380",
            "InstancePort" : "2380",
            "Protocol" : "TCP"
          }],
          "Instances" : {{.MachineReferences}},
          "HealthCheck" : {
            "Target" : { "Fn::Join" : [ "", ["HTTP:", "2379", "/version"]]},
            "HealthyThreshold" : "3",
            "UnhealthyThreshold" : "5",
            "Interval" : "30",
            "Timeout" : "5"
          }
        }
      {{range $index := $.Machines}}
      },
        "Machine{{$index}}" : {
          "Type" : "AWS::EC2::Instance",
          "Properties" : {
            "ImageId": { "Ref": "AmiId" },
            "InstanceType": { "Ref": "InstanceType" },
            "KeyName": { "Ref": "KeyPair" },
            "SecurityGroupIds": [
              { "Ref": "InstanceSecurityGroup" }
            ],
            "UserData": { "Ref": "CloudConfig" },
            "BlockDeviceMappings" : [{
              "DeviceName": "/dev/xvda",
              "Ebs": { "VolumeSize" : "8" }
            }],
            "AvailabilityZone": { "Ref": "AZ" },
            "SubnetId": { "Ref": "MachineSubnet" },
            "Tags": [{
              "Key": "Name",
              "Value": "{{$.Name}}-{{$index}}"
            }]
          }
      {{end}}
      }
    },
    "Outputs": {
      "URL": {
        "Description": "DNS of the stack",
        "Value": { "Fn::GetAtt" : [ "ElasticLoadBalancerPrivate", "DNSName" ]}
      }
    }
}
