[
  {
    "ParameterKey": "CloudConfig",
    "ParameterValue": "{{.CloudConfig}}"
  },
  {
    "ParameterKey": "SSLCertificate",
    "ParameterValue": "{{.SSLCertificate}}"
  },
  {
    "ParameterKey": "InstanceType",
	"ParameterValue": "{{.InstanceType}}"
  },
  {
    "ParameterKey": "ClusterSize",
    "ParameterValue": "{{.ClusterSize}}"
  },
  {
    "ParameterKey": "KeyPair",
    "ParameterValue": "{{.KeyPair}}"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "{{.VpcId}}"
  },
  {
    "ParameterKey": "Subnet",
    "ParameterValue": "{{.Subnet}}"
  },
  {
    "ParameterKey": "AZ",
    "ParameterValue": "{{.AZ}}"
  },
  {
    "ParameterKey": "AmiId",
    "ParameterValue": "{{.AmiId}}"
  }
]
