ignition_version: 1
systemd:
  units:
    - name: update-engine.service
      enable: false
      mask: true
    - name: locksmithd.service
      enable: false
      mask: true
    - name: etcd2.service
      enable: true
      dropins:
       - name: 30-etcd2-kocho.conf
         contents: |
           [Unit]
           Requires=coreos-metadata.service
           After=coreos-metadata.service

           [Service]
           EnvironmentFile=/run/metadata/coreos
           ExecStart=
           ExecStart=/usr/bin/etcd2 \
               --discovery={{.DiscoveryUrl}} \
               --advertise-client-urls=http://${COREOS_EC2_IPV4_LOCAL}:2379 \
               --initial-advertise-peer-urls=http://${COREOS_EC2_IPV4_LOCAL}:2380 \
               --listen-client-urls=http://0.0.0.0:2379 \
               --listen-peer-urls="http://${COREOS_EC2_IPV4_LOCAL}:2380,http://127.0.0.1:2380" \
               --election-timeout=5000
    - name: fleet.service
      enable: true
      dropins:
        - name: 30-fleet-kocho.conf
          contents: |
            [Service]
            Environment="FLEET_ETCD_SERVERS={{.EtcdPeers}}"
            Environment="FLEET_METADATA=role-worker=true,stack-compute=true,{{.Tags}}"
            Environment="FLEET_DISABLE_ENGINE=true"
    {{if .YochuVersion}}
    - name: yochu.service
      enable: true
      contents: |
          [Unit]
          Description=Giant Swarm Yochu
          Wants=network-online.target
          After=network-online.target
          Before=multi-user.target
          [Service]
          Type=oneshot
          ExecStartPre=/usr/bin/mkdir -p /home/core/bin
          ExecStartPre=/usr/bin/wget --no-verbose https://downloads.giantswarm.io/yochu/{{.YochuVersion}}/yochu -O /home/core/bin/yochu
          ExecStartPre=/usr/bin/chmod +x /home/core/bin/yochu
          ExecStart=/home/core/bin/yochu setup -v -d --start-daemons=true --fleet-version={{.FleetVersion}} --etcd-version={{.EtcdVersion}} --docker-version={{.DockerVersion}} --rkt-version={{.RktVersion}} --k8s-version={{.K8sVersion}}
          RemainAfterExit=yes
          [Install]
          WantedBy=multi-user.target
      {{end}}
